appdirs==1.4.0
autograd==1.1.7
backports.shutil-get-terminal-size==1.0.0
cycler==0.10.0
decorator==4.0.11
edward==1.2.3
enum34==1.1.6
funcsigs==1.0.2
functools32==3.2.3.post2
future==0.16.0
ipython==5.1.0
ipython-genutils==0.1.0
isort==4.2.5
matplotlib==2.0.0
mock==2.0.0
numpy==1.12.0
packaging==16.8
pathlib2==2.2.1
pbr==1.10.0
pexpect==4.2.1
pickleshare==0.7.4
prompt-toolkit==1.0.9
protobuf==3.1.0.post1
ptyprocess==0.5.1
Pygments==2.2.0
pyparsing==2.1.10
python-dateutil==2.6.0
pytz==2016.10
scandir==1.4
scikit-learn==0.18.1
scipy==0.18.1
simplegeneric==0.8.1
six==1.10.0
sklearn==0.0
subprocess32==3.2.7
tensorflow==1.0.1
traitlets==4.3.1
wcwidth==0.1.7